<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Especialistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="header">
    <ion-label class="form-group">FORMULÁRIO DE CADASTRO</ion-label>
  </ion-item>
  <div class="avatar">
    <ion-avatar > 
      <img src="assets/icon/avatar.png">
    </ion-avatar>
  </div>
  <div class="cad">
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Registro:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Telefone:</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  </div>
  <div class="cad">
    <!-- <section class="full-width">
      <ion-button expand="full" color="dark" [routerLink]="['/home']" (click)="saveTodo()">AGENDAR</ion-button>
    </section> -->

    <ion-fab horizontal="center" vertical="end" slot="fixed">
      <ion-fab-button color="dark" [routerLink]="['/home']" (click)="saveSpecialist()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

</ion-content>
